<%= simple_form_for(@surgical) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :patient, label_method: :full_name %>
    <%= f.input :surgery_date %>
    <%= f.input :surgery, collection: Surgery.all, label_method: :name %>
    <%= f.input :surgeon, collection: Surgeon.all, value_method: :name, label_method: :name %>
    <%= f.input :eye, collection: ["RE", "LE", "Both"] %>
    <%= f.input :average_k %>
    <%= f.input :axial_length %>
    <%= f.input :iol_insertion, collection: IolInsertion.all, value_method: :name, label_method: :name, label: "IOL Insertion" %>
    <%= f.input :iol_power, collection: IolPower.all, value_method: :power, label_method: :power, label: "IOL Power" %>
    <%= f.input :post_rva, collection: VisualAcuity.all, label_method: :va, value_method: :va, label: "Post-op VA (RE)"  %>
    <%= f.input :post_lva, collection: VisualAcuity.all, label_method: :va, value_method: :va, label: "Post-op VA (LE)" %>
    <%= f.input :complication, collection: Complication.all, label_method: :name, value_method: :name %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
