<p>
  <strong>Patient:</strong>
  <%= @surgical.patient.full_name %>
</p>
<p>
  <strong>Surgery date:</strong>
  <%= @surgical.surgery_date %>
</p>

<p>
  <strong>Surgery:</strong>
  <%= @surgical.surgery.name %>
</p>

<p>
  <strong>Surgeon:</strong>
  <% if @surgical.surgeon %>
  <%= @surgical.surgeon.name %>
  <% end %>
</p>

<p>
  <strong>Eye:</strong>
  <%= @surgical.eye %>
</p>

<p>
  <strong>Post-op VA (RE):</strong>
  <%= @surgical.post_rva %>
</p>

<p>
  <strong>Post-op VA (LE):</strong>
  <%= @surgical.post_lva %>
</p>

<p>
  <strong>Average k:</strong>
  <%= @surgical.average_k %>
</p>

<p>
  <strong>Axial length:</strong>
  <%= @surgical.axial_length %>
</p>

<p>
  <strong>IOL Power:</strong>
  <% if @surgical.iol_power %>
  <%= @surgical.iol_power.power %>
  <% end %>
</p>

<p>
  <% if @surgical.iol_insertion %>
  <strong>IOL Insertion:</strong>
  <%= @surgical.iol_insertion.name %>
  <% end %>
</p>

<p>
  <% if @surgical.complication %>
  <strong>Complication:</strong>
  <%= @surgical.complication.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_surgical_path(@surgical) %> |
<%= link_to 'Back', surgicals_path %>
