<%= simple_form_for(@medical_record) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :patient, label_method: :full_name %>
    <%= f.input :complaints %>
    <%= f.input :pre_rva, collection: VisualAcuity.all, label_method: :va, value_method: :va, label: "Pre-op VA(RE)" %>
    <%= f.input :pre_lva, collection: VisualAcuity.all, label_method: :va, value_method: :va, label: "Pre-op VA(LE)" %>
    <%= f.input :diagnosis, collection: Diagnosis.all, value_method: :name, label_method: :name %>
    <%= f.input :eye, collection: ["RE", "LE", "Both"] %>
    <%= f.input :treatment, collection: Treatment.all, value_method: :name, label_method: :name %>
    <%= f.input :booked %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
