<p>
  <strong>Patient:</strong>
  <%= @medical_record.patient.full_name %>
</p>
<p>
  <strong>Complaints:</strong>
  <%= simple_format(@medical_record.complaints) %>
</p>

<p>
  <strong>Pre-op VA(RE) :</strong>
  <%= @medical_record.pre_rva %>
</p>

<p>
  <strong>Pre-op VA(LE):</strong>
  <%= @medical_record.pre_lva %>
</p>

<p>
  <strong>Diagnosis:</strong>
  <%= @medical_record.diagnosis.name %>
</p>

<p>
  <strong>Eye:</strong>
  <%= @medical_record.eye %>
</p>

<p>
  <strong>Treatment:</strong>
  <%= @medical_record.treatment.name %>
</p>

<p>
  <strong>Booked:</strong>
  <%= @medical_record.booked %>
</p>

<%= link_to 'Edit', edit_medical_record_path(@medical_record) %> |
<%= link_to 'Back', medical_records_path %>
