

<br>

<%= link_to 'New IOL Power', new_iol_power_path %><h1>Listing IOL Powers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Power</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @iol_powers.each do |iol_power| %>
      <tr>
        <td><%= iol_power.power %></td>
        <td><%= link_to 'Show', iol_power %></td>
        <td><%= link_to 'Edit', edit_iol_power_path(iol_power) %></td>
        <td><%= link_to 'Destroy', iol_power, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

