<%= simple_form_for(@patient) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :surname %>
    <%= f.input :other_names %>
    <%= f.input :gender, collection: ["Male", "Female"] %>
    <%= f.input :age %>
    <%= f.input :address %>
    <%= f.input :phone %>
    <%= f.input :state, collection: State.all, label_method: :name, value_method: :name, label: "State of Residence" %>
    <%= f.input :lga, collection: Lga.all, label_method: :name, value_method: :name %>
    <%= f.input :town %>
    <%= f.input :intervention_state, collection: State.order(:name), value_method: :name, prompt: "Select State" %>
    <%= f.input :next_of_kin %>
    <%= f.input :relationship %>
    <%= f.input :nok_phone, label: "Next of Kin's phone" %>
    <%= f.input :nok_address, label: "Next of Kin's address" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-danger" %>
  </div>
<% end %>
